/* Page numbers */
@page {
    @bottom-center {
        content: counter(page);
        font-family: "Source Code Pro";
    }
}

/* Page numbers start at 2 since the first page is the cover */
@page:first {
    counter-reset: page 2
}

body {
    font-family: "Source Code Pro";
    font-size: 14px;
    line-height: 2;
}

h1 {
    font-size: 137px;
    text-align: center;
}

h2 {
    font-size: 100px;
    text-align: center;
    page-break-before: always;
    page-break-after: always;
}

h3 {
    font-size: 42px;
    page-break-before: always;
}

code {
    font-family: "Source Code Pro";
}

.title {
    text-align: center;
}
